requests>=2.32.3
psycopg2-binary>=2.9.10
python-dotenv>=1.0.1  # to load .env locally
kafka-python>=2.0.2
apache-airflow>=3.1.7
apache-airflow-providers-postgres>=5.0
newsapi-python==0.2.7
pathlib>=1.0.1
confluent-kafka>=2.2.0
polygon-api-client>=1.16.0
massive-2.1.0